_UpgradeReport_Files/
Backup/
Debug/
Release/logs/
Release/data/temp/
*/*/default.cfg
Release/flatuniverse.*
flatuniverse/Debug/
flatuniverse/Release/
tmp/
flatuniverse.ncb
flatuniverse.sdf
UpgradeLog.htm
UpgradeLog.XML
flatuniverse.suo
flatuniverse.v11.suo
flatuniverse.opensdf
build/*.gz
flatuniverse/flatuniverse.vcxproj.user
materials/
