README.md
_UpgradeReport_Files/
Backup/
Debug/logs/
Release/logs/
Release/data/temp/
Release/data/default.cfg
Release/flatuniverse.*
flatuniverse/Debug/
flatuniverse/Release/
tmp/
flatuniverse.ncb
flatuniverse.sdf
UpgradeLog.htm
UpgradeLog.XML
flatuniverse.suo
flatuniverse.v11.suo
flatuniverse.opensdf
build/*.gz
